html, body, #root {
  min-width: 100%;
  min-height: 100vh;
}

body {
  background-color: #131313;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #eee;
  line-height: 1.2;
}

main,
.container {
  padding-left: 30px;
  padding-right: 30px;
}

main {
  margin-bottom: 80px;
}

a.btn,
button,
input[type="submit"] {
  width: 100%;
  display: block;
  padding: 17px 10px 12px 10px;
  box-sizing: border-box;
  background-color: #eee;
  border: none;
  font-weight: 600;
  color: #000;
  text-align: center;
  text-decoration: none;
  transition: color 0.1s;
  cursor: pointer;
}

a.btn:hover,
button:hover,
input[type=submit]:hover {
  color: #006cff;
}

input[type="submit"][disabled] {
  background-color: #eee;
  color: #939597;
  cursor: default;
}

button.link {
  width: auto;
  background-color: transparent;
  border: none;
}

button.link:hover {
  text-decoration: underline;
}

/* TO DO: Tab-only focus styles for interactive elements */
*:focus,
*:active {
  border: 0;
  outline: 0;
}

h1 {
  margin: 0 0 40px 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}

p {
  margin: 0 0 20px 0;
  line-height: 1.4;
}

/* Media Queries */

@media (min-width: 768px) {
  main,
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}