.answered-toggle {
  color: #939597;
}

.answered-toggle span {
  transition: color 0.1s;
  cursor: pointer;
}

.answered-toggle span[active="active"] {
  color: #eee;
}

.answered-toggle span:hover,
.answered-toggle span[active="active"]:hover {
  color: #006cff;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.question-box {
  width: 100%;
  position: relative;
  margin: 0 0 40px 0;
  padding-bottom: 50px;
  border: 2px solid #eee;
}

.question-box .avatar {
  position: relative;
}

.question-box .avatar:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.question-box .avatar .avatar-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.question-box .text {
  padding: 28px 30px 30px 30px;
  border-top: 2px solid #eee;
}

.question-box .author span {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.question-box .question-text {
  margin-bottom: 0;
}

.question-box a.btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: 576px) {
  .questions {
    margin: -10px;
  }

  .question-box {
    width: calc(50% - 24px);
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .questions {
    margin: -20px;
  }

  .question-box {
    width: calc(100% - 44px);
    margin: 20px;
  }

  .question-box .content {
    display: flex;
  }

  .question-box .avatar {
    width: 30%;
    flex-shrink: 0;
    border-right: 2px solid #eee;
  }

  .question-box .text {
    align-self: center;
    border-top: none;
  }
}

@media (min-width: 992px) {
  .question-box .avatar {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .questions {
    margin: -20px;
  }

  .question-box {
    width: calc(50% - 44px);
    margin: 20px;
  }

  .question-box .avatar {
    width: 30%;
  }
}