.question {
  max-width: 700px;
  margin: 0 auto;
}

.question .question-box {
  width: calc(100% - 4px);
  margin: 0;
  padding: 0;
}

.question .headings {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.question .page-title {
  margin: 0 40px 10px 0;
}

.question .question-status-text {
  margin: 0 0 40px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
  line-height: 1.2;
}

.question.unanswered p {
  margin-bottom: 20px;
}

.question.unanswered form .radio {
  margin-bottom: 10px;
}

.question.unanswered form .radio:last-of-type {
  margin-bottom: 0;
}

.question.unanswered form .radio input {
  margin-right: 15px;
}

.question.answered .author,
.question.answered .answer-stats p:last-of-type {
  margin: 0;
}

.question.answered .question-details > div,
.question.answered .question-details > p {
  margin: 0;
  padding: 30px 0;
  border-bottom: 2px solid #eee;
}

.question.answered .question-details > div:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

/* Media Queries */

@media (min-width: 768px) {
  .question .headings {
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
  }
  
  .question .page-title {
    margin: 0 40px 0 0;
  }
  
  .question .question-status-text {
    margin: 0;
  }

  .question .question-box .content {
    display: flex;
    margin: 20px 20px 30px 20px;
  }

  .question .question-box .avatar {
    width: 150px;
    margin: 0 15px 0 0;
  }

  .question .question-box .text {
    width: calc(100% - 190px);
    margin: 0 0 0 15px;
  }

  .question .question-box .text p:last-of-type:not(.author):not(.question-intro) {
    margin-bottom: 0;
  }
}