.question {
  max-width: 700px;
  margin: 0 auto;
}

.question .question-box {
  width: calc(100% - 4px);
  margin: 0;
  padding: 0;
}

.question .headings {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.question .page-title {
  margin: 0 40px 10px 0;
}

.question .question-status-text {
  margin: 0 0 40px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
  line-height: 1.2;
}

.question.unanswered .radio {
  margin-bottom: 10px;
}

.question.unanswered .radio:last-of-type {
  margin-bottom: 0;
}

.question.unanswered .radio label {
  display: flex;
  align-items: center;
}

.question.unanswered .radio input {
  margin-right: 15px;
}

.question.answered .text {
  border-bottom: 2px solid #eee;
}

.question.answered .answer-stats {
  padding: 28px 30px 30px 30px;
}

.question.answered .answer-stats:first-of-type {
  border-bottom: 2px solid #eee;
}

.question.answered .answer-stats p:last-of-type {
  margin: 0;
}

/* Media Queries */

@media (min-width: 576px) {
  .question .question-box .content {
    display: flex;
  }

  .question.answered .question-box .content {
    display: block;
  }

  .question.answered .question-box .question-intro {
    display: flex;
    border-bottom: 2px solid #eee;
  }

  .question .question-box .avatar {
    width: 38%;
    flex-shrink: 0;
    border-right: 2px solid #eee;
  }

  .question .question-box .text {
    align-self: center;
    border: 0;
  }

  .question.answered .question-box .text {
    width: calc(62% - 60px);
  }
}

@media (min-width: 768px) {
  .question .headings {
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
  }
  
  .question .page-title {
    margin: 0 40px 0 0;
  }
  
  .question .question-status-text {
    margin: 0;
  }

  .question .question-box .avatar {
    width: 32%;
  }
}