.user-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: #eee;
  color: #131313;
}

.user-info .greeting {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: right;
}

.user-info .profile-photo {
  width: 30px;
  height: 30px;
  margin: 0 20px 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user-info button {
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* Media Queries */

@media (min-width: 576px) {
  .user-info .greeting,
  .user-info .profile-photo {
    margin: 0 20px 0 0;
  }

  .user-info .greeting {
    width: auto;
  }
}